In [1]:
#step1: collecting the data
import pandas as pd
df = pd.read_csv("ToyotaCorolla - MLR.csv")

df.shape
df.head()

,Price,Age_08_04,KM,Fuel_Type,HP,Automatic,cc,Doors,Cylinders,Gears,Weight
0,13500,23,46986,Diesel,90,0,2000,3,4,5,1165
1,13750,23,72937,Diesel,90,0,2000,3,4,5,1165
2,13950,24,41711,Diesel,90,0,2000,3,4,5,1165
3,14950,26,48000,Diesel,90,0,2000,3,4,5,1165
4,13750,30,38500,Diesel,90,0,2000,3,4,5,1170

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age_08_04  1436 non-null   int64
 2   KM         1436 non-null   int64
 3   Fuel_Type  1436 non-null   object
 4   HP         1436 non-null   int64
 5   Automatic  1436 non-null   int64
 6   cc         1436 non-null   int64
 7   Doors      1436 non-null   int64
 8   Cylinders  1436 non-null   int64
 9   Gears      1436 non-null   int64
 10  Weight     1436 non-null   int64
dtypes: int64(10), object(1)
memory usage: 123.5+ KB

In [2]:

#step2: EDA --> boxplot, histogrmam, scatter plot, 

#shown in mlr models file

In [4]:
#step3: Data cleaning

df.info()

##need to observe if fany null values 
##since there are not any null values present we are continuing with the data presented

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age_08_04  1436 non-null   int64
 2   KM         1436 non-null   int64
 3   Fuel_Type  1436 non-null   object
 4   HP         1436 non-null   int64
 5   Automatic  1436 non-null   int64
 6   cc         1436 non-null   int64
 7   Doors      1436 non-null   int64
 8   Cylinders  1436 non-null   int64
 9   Gears      1436 non-null   int64
 10  Weight     1436 non-null   int64
dtypes: int64(10), object(1)
memory usage: 123.5+ KB

In [5]:
##CONTINUOUS DATA COLUMNS
df_cont=df[['Age_08_04','KM','HP','Automatic','cc','Doors','Cylinders','Gears','Weight']]

In [6]:
##STEP 4
#STEP 4 a DATA PRE-PROCESSING
# standardization
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()

df_cont['Age_08_04'] = SS.fit_transform(df_cont[['Age_08_04']])
df_cont['KM'] = SS.fit_transform(df_cont[['KM']])
df_cont['HP'] = SS.fit_transform(df_cont[['HP']])

df_cont['Automatic'] = SS.fit_transform(df_cont[['Automatic']])
df_cont['cc'] = SS.fit_transform(df_cont[['cc']])
df_cont['Doors'] = SS.fit_transform(df_cont[['Doors']])

df_cont['Cylinders'] = SS.fit_transform(df_cont[['Cylinders']])
df_cont['Gears'] = SS.fit_transform(df_cont[['Gears']])
df_cont['Weight'] = SS.fit_transform(df_cont[['Weight']])



df_cont.head()

C:\Users\Hima Chandana\AppData\Local\Temp\ipykernel_12152\1294503278.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cont['Age_08_04'] = SS.fit_transform(df_cont[['Age_08_04']])
C:\Users\Hima Chandana\AppData\Local\Temp\ipykernel_12152\1294503278.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cont['KM'] = SS.fit_transform(df_cont[['KM']])
C:\Users\Hima Chandana\AppData\Local\Temp\ipykernel_12152\1294503278.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cont['HP'] = SS.fit_transform(df_cont[['HP']])
C:\Users\Hima Chandana\AppData\Local\Temp\ipykernel_12152\1294503278.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cont['Automatic'] = SS.fit_transform(df_cont[['Automatic']])
C:\Users\Hima Chandana\AppData\Local\Temp\ipykernel_12152\1294503278.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cont['cc'] = SS.fit_transform(df_cont[['cc']])
C:\Users\Hima Chandana\AppData\Local\Temp\ipykernel_12152\1294503278.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cont['Doors'] = SS.fit_transform(df_cont[['Doors']])
C:\Users\Hima Chandana\AppData\Local\Temp\ipykernel_12152\1294503278.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cont['Cylinders'] = SS.fit_transform(df_cont[['Cylinders']])
C:\Users\Hima Chandana\AppData\Local\Temp\ipykernel_12152\1294503278.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cont['Gears'] = SS.fit_transform(df_cont[['Gears']])
C:\Users\Hima Chandana\AppData\Local\Temp\ipykernel_12152\1294503278.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cont['Weight'] = SS.fit_transform(df_cont[['Weight']])

,Age_08_04,KM,HP,Automatic,cc,Doors,Cylinders,Gears,Weight
0,-1.771966,-0.574695,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561
1,-1.771966,0.117454,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561
2,-1.718184,-0.715386,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561
3,-1.610620,-0.547650,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561
4,-1.395491,-0.801028,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.853577

In [7]:

##step 4 B
##split X and Y
##performing label encoding on Categorical data
## STEP 4 B Fuel_Type is label encoding column
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df["Fuel Type Encoded"]=LE.fit_transform(df['Fuel_Type'])
df["Fuel Type Encoded"]

0       1
1       1
2       1
3       1
4       1
       ..
1431    2
1432    2
1433    2
1434    2
1435    2
Name: Fuel Type Encoded, Length: 1436, dtype: int32

In [8]:
###combining categorical and continuous columns in order to get preprocesing of X variables
#STEP 4 C 
##converting the above array into DataFrame
df_cat = pd.DataFrame(df['Fuel Type Encoded'], columns=['Fuel Type Encoded'])
df_cat

      Fuel Type Encoded
0                     1
1                     1
2                     1
3                     1
4                     1
...                 ...
1431                  2
1432                  2
1433                  2
1434                  2
1435                  2

[1436 rows x 1 columns]

In [9]:
##step 4 D
##FINALLY we are combining all the pre-processed variables
##those are X continuous variables and Categorical variables
###we consider the new data that is df_newX for training and testing X variables
df_newX=pd.concat([df_cont,df_cat],axis=1)
df_newX

,Age_08_04,KM,HP,Automatic,cc,Doors,Cylinders,Gears,Weight,Fuel Type Encoded
0,-1.771966,-0.574695,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561,1
1,-1.771966,0.117454,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561,1
2,-1.718184,-0.715386,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561,1
3,-1.610620,-0.547650,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561,1
4,-1.395491,-0.801028,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.853577,1
...,...,...,...,...,...,...,...,...,...,...
1431,0.702015,-1.279939,-1.035138,-0.242893,-0.652594,-1.085139,0.0,-0.140425,-0.901883,2
1432,0.863362,-1.321120,-1.035138,-0.242893,-0.652594,-1.085139,0.0,-0.140425,-1.091915,2
1433,0.809579,-1.374036,-1.035138,-0.242893,-0.652594,-1.085139,0.0,-0.140425,-1.091915,2
1434,0.755797,-1.376703,-1.035138,-0.242893,-0.652594,-1.085139,0.0,-0.140425,-1.091915,2
1435,1.078490,-1.827849,0.567440,-0.242893,0.054555,1.014941,0.0,-0.140425,0.789399,2

In [10]:
##step 5 
Y=df["Price"]
Y

0       13500
1       13750
2       13950
3       14950
4       13750
        ...
1431     7500
1432    10845
1433     8500
1434     7250
1435     6950
Name: Price, Length: 1436, dtype: int64

In [11]:

#step 6
#Data partition
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y,test_size=0.25)

In [12]:

#step
# STEP 7: model fitting
from sklearn.linear_model import LinearRegression
model = LinearRegression()

model.fit(X_train,Y_train)
Y_pred_train = model.predict(X_train)
Y_pred_test  = model.predict(X_test)

In [13]:
#STEP 8 
# data validation
from sklearn.metrics import mean_squared_error
train_rmse = mean_squared_error(Y_train,Y_pred_train,squared=False)
print("Training Error:",train_rmse)
test_rmse = mean_squared_error(Y_test,Y_pred_test,squared=False)
print("Test Error:",test_rmse)

Training Error: 1320.5690766976743
Test Error: 1379.436889401748

In [14]:
#STEP 9
#=========================================================
# cross validation
#=========================================================

training_err = []
test_err = []

for i in range(1,101):
    X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1324.06
Cross validation - Test error: 1456.36

In [16]:
LR_coef = model.coef_
LR_coef
#=====================================================================
# LASSO REGRESSION
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=1)

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(df_newX)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

#=====================================================================

                   0            0            0
0          Age_08_04 -2264.832783 -2264.832783
1                 KM  -666.959492  -666.959492
2                 HP   361.477450   361.477450
3          Automatic    76.323493    76.323493
4                 cc   -17.366293   -17.366293
5              Doors    -9.767496    -9.767496
6          Cylinders     0.000000     0.000000
7              Gears   128.652404   128.652404
8             Weight  1170.185326  1170.185326
9  Fuel Type Encoded   780.714864   780.714864

In [17]:
###SECOND TIME


### PERFORMING CROSS VALIDATION


#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = df_newX.drop(df_newX.columns[[6]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1316.6
Cross validation - Test error: 1477.22

In [18]:
#=====================================================================
# LASSO REGRESSION
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y,test_size=0.25,random_state=100)


model = Lasso(alpha=3) 

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(df_newX)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

#=====================================================================

                   0            0            0
0          Age_08_04 -2264.832783 -2263.725576
1                 KM  -666.959492  -670.281681
2                 HP   361.477450   364.820849
3          Automatic    76.323493    75.338263
4                 cc   -17.366293   -15.605971
5              Doors    -9.767496    -5.435815
6          Cylinders     0.000000     0.000000
7              Gears   128.652404   127.747619
8             Weight  1170.185326  1159.570892
9  Fuel Type Encoded   780.714864   745.445164

In [19]:
###SECOND TIME


### PERFORMING CROSS VALIDATION


#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = df_newX.drop(df_newX.columns[[6]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1316.67
Cross validation - Test error: 1472.14

In [20]:
#=====================================================================
# LASSO REGRESSION
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y,test_size=0.25,random_state=100)


model = Lasso(alpha=4) 


model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(df_newX)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

#=====================================================================

                   0            0            0
0          Age_08_04 -2264.832783 -2263.139697
1                 KM  -666.959492  -671.951404
2                 HP   361.477450   366.473940
3          Automatic    76.323493    74.835814
4                 cc   -17.366293   -14.732620
5              Doors    -9.767496    -3.288219
6          Cylinders     0.000000     0.000000
7              Gears   128.652404   127.290753
8             Weight  1170.185326  1154.311962
9  Fuel Type Encoded   780.714864   727.876254

In [21]:
###SECOND TIME


### PERFORMING CROSS VALIDATION


#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = df_newX.drop(df_newX.columns[[6]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1316.74
Cross validation - Test error: 1469.64

In [22]:
#=====================================================================
# LASSO REGRESSION
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=5)

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(df_newX)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

#=====================================================================

                   0            0            0
0          Age_08_04 -2264.832783 -2262.551716
1                 KM  -666.959492  -673.620094
2                 HP   361.477450   368.123132
3          Automatic    76.323493    74.331762
4                 cc   -17.366293   -13.859983
5              Doors    -9.767496    -1.143739
6          Cylinders     0.000000     0.000000
7              Gears   128.652404   126.833042
8             Weight  1170.185326  1149.061019
9  Fuel Type Encoded   780.714864   710.323100

In [24]:
###SECOND TIME


### PERFORMING CROSS VALIDATION


#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = df_newX.drop(df_newX.columns[[6]],axis=1)
X_new

training_err = []
test_err = []

for i in range(150,251):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1319.89
Cross validation - Test error: 1453.86

In [25]:
#=====================================================================
# LASSO REGRESSION
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=7)

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(df_newX)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

#=====================================================================

                   0            0            0
0          Age_08_04 -2264.832783 -2261.490470
1                 KM  -666.959492  -676.648263
2                 HP   361.477450   371.475208
3          Automatic    76.323493    73.061067
4                 cc   -17.366293   -12.101781
5              Doors    -9.767496    -0.000000
6          Cylinders     0.000000     0.000000
7              Gears   128.652404   125.287821
8             Weight  1170.185326  1139.919442
9  Fuel Type Encoded   780.714864   677.345180

In [26]:
###SECOND TIME


### PERFORMING CROSS VALIDATION


#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = df_newX.drop(df_newX.columns[[5,6]],axis=1)
X_new

training_err = []
test_err = []

for i in range(150,251):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1320.98
Cross validation - Test error: 1443.94

In [27]:
#=====================================================================
# LASSO REGRESSION
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=9)

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(df_newX)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

#=====================================================================

                   0            0            0
0          Age_08_04 -2264.832783 -2260.344330
1                 KM  -666.959492  -679.638202
2                 HP   361.477450   374.811819
3          Automatic    76.323493    71.683255
4                 cc   -17.366293   -10.359417
5              Doors    -9.767496    -0.000000
6          Cylinders     0.000000     0.000000
7              Gears   128.652404   123.517732
8             Weight  1170.185326  1131.355297
9  Fuel Type Encoded   780.714864   645.164746

In [28]:
###SECOND TIME


### PERFORMING CROSS VALIDATION


#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = df_newX.drop(df_newX.columns[[5,6]],axis=1)
X_new

training_err = []
test_err = []

for i in range(150,251):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1321.22
Cross validation - Test error: 1440.35

In [29]:
#=====================================================================
# LASSO REGRESSION
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=11)

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(df_newX)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

#=====================================================================

                   0            0            0
0          Age_08_04 -2264.832783 -2259.198787
1                 KM  -666.959492  -682.627828
2                 HP   361.477450   378.148581
3          Automatic    76.323493    70.305523
4                 cc   -17.366293    -8.616950
5              Doors    -9.767496    -0.000000
6          Cylinders     0.000000     0.000000
7              Gears   128.652404   121.747638
8             Weight  1170.185326  1122.790726
9  Fuel Type Encoded   780.714864   612.984124

In [30]:
###SECOND TIME


### PERFORMING CROSS VALIDATION


#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = df_newX.drop(df_newX.columns[[5,6]],axis=1)
X_new

training_err = []
test_err = []

for i in range(150,251):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1321.52
Cross validation - Test error: 1436.81

In [31]:
#=====================================================================
# LASSO REGRESSION
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=40)

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(df_newX)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

#=====================================================================

                   0            0            0
0          Age_08_04 -2264.832783 -2242.588273
1                 KM  -666.959492  -724.586919
2                 HP   361.477450   428.159961
3          Automatic    76.323493    51.917359
4                 cc   -17.366293    -0.000000
5              Doors    -9.767496     0.000000
6          Cylinders     0.000000     0.000000
7              Gears   128.652404    96.245668
8             Weight  1170.185326  1003.027681
9  Fuel Type Encoded   780.714864   139.436969

In [32]:
###SECOND TIME


### PERFORMING CROSS VALIDATION


#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = df_newX.drop(df_newX.columns[[4,5,6]],axis=1)
X_new

training_err = []
test_err = []

for i in range(150,251):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1331.66
Cross validation - Test error: 1378.09

In [34]:
#=====================================================================
# LASSO REGRESSION
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=50)

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(df_newX)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

#=====================================================================

                   0            0            0
0          Age_08_04 -2264.832783 -2237.259787
1                 KM  -666.959492  -735.680767
2                 HP   361.477450   442.429697
3          Automatic    76.323493    45.168973
4                 cc   -17.366293    -0.000000
5              Doors    -9.767496     0.000000
6          Cylinders     0.000000     0.000000
7              Gears   128.652404    87.266908
8             Weight  1170.185326   967.641015
9  Fuel Type Encoded   780.714864     0.000000

In [35]:
###SECOND TIME


### PERFORMING CROSS VALIDATION


#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = df_newX.drop(df_newX.columns[[4,5,6,9]],axis=1)
X_new

training_err = []
test_err = []

for i in range(150,251):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1336.01
Cross validation - Test error: 1376.16

In [36]:
#=====================================================================
# LASSO REGRESSION
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=100)

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(df_newX)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

#=====================================================================

                   0            0            0
0          Age_08_04 -2264.832783 -2225.441593
1                 KM  -666.959492  -701.502881
2                 HP   361.477450   423.468074
3          Automatic    76.323493     0.000000
4                 cc   -17.366293    -0.000000
5              Doors    -9.767496     0.000000
6          Cylinders     0.000000     0.000000
7              Gears   128.652404    37.354701
8             Weight  1170.185326   930.713174
9  Fuel Type Encoded   780.714864     0.000000

In [38]:
###SECOND TIME


### PERFORMING CROSS VALIDATION


#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = df_newX.drop(df_newX.columns[[3,4,5,6,9]],axis=1)
X_new

training_err = []
test_err = []

for i in range(150,251):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1346.3
Cross validation - Test error: 1384.28

In [40]:
#=====================================================================
# LASSO REGRESSION
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=200)

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(df_newX)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

#=====================================================================

                   0            0            0
0          Age_08_04 -2264.832783 -2216.342915
1                 KM  -666.959492  -624.022117
2                 HP   361.477450   374.278737
3          Automatic    76.323493     0.000000
4                 cc   -17.366293     0.000000
5              Doors    -9.767496     0.000000
6          Cylinders     0.000000     0.000000
7              Gears   128.652404     0.000000
8             Weight  1170.185326   843.991483
9  Fuel Type Encoded   780.714864     0.000000

In [41]:
###SECOND TIME


### PERFORMING CROSS VALIDATION


#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = df_newX.drop(df_newX.columns[[3,4,5,6,7,9]],axis=1)
X_new

training_err = []
test_err = []

for i in range(150,251):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1374.66
Cross validation - Test error: 1409.17

In [42]:
#=====================================================================
# LASSO REGRESSION
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=150)

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(df_newX)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

#=====================================================================

                   0            0            0
0          Age_08_04 -2264.832783 -2221.723637
1                 KM  -666.959492  -660.479276
2                 HP   361.477450   403.502604
3          Automatic    76.323493     0.000000
4                 cc   -17.366293     0.000000
5              Doors    -9.767496     0.000000
6          Cylinders     0.000000     0.000000
7              Gears   128.652404     0.000000
8             Weight  1170.185326   886.882540
9  Fuel Type Encoded   780.714864     0.000000

In [43]:
###SECOND TIME


### PERFORMING CROSS VALIDATION


#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = df_newX.drop(df_newX.columns[[3,4,5,6,7,9]],axis=1)
X_new

training_err = []
test_err = []

for i in range(150,251):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1359.63
Cross validation - Test error: 1395.26

In [44]:
#=====================================================================
# LASSO REGRESSION
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(df_newX,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=175)

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(df_newX)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

#=====================================================================

                   0            0            0
0          Age_08_04 -2264.832783 -2219.032978
1                 KM  -666.959492  -642.250869
2                 HP   361.477450   388.890628
3          Automatic    76.323493     0.000000
4                 cc   -17.366293     0.000000
5              Doors    -9.767496     0.000000
6          Cylinders     0.000000     0.000000
7              Gears   128.652404     0.000000
8             Weight  1170.185326   865.437160
9  Fuel Type Encoded   780.714864     0.000000

In [45]:
###SECOND TIME


### PERFORMING CROSS VALIDATION


#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = df_newX.drop(df_newX.columns[[3,4,5,6,7,9]],axis=1)
X_new

training_err = []
test_err = []

for i in range(150,251):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1366.63
Cross validation - Test error: 1401.71

In [49]:
###RESULTS
#LASSO		
#DATA VALIDATION		
#TRAIN	TEST	
#1320.569	1379.436	
#CROSS VALIDATION		
#1324.06	1456.36	
		
		
#ALPHA 	TRAIN	TEST
#1	1316.6	1477.22
#3	1316.67	1472.14
#4	1316.74	1469.64
#5	1316.82	1467.13
#7	1320.98	1443.94
#9	1321.22	1440.35
#11	1321.52	1436.81
#40	1331.66	1378.09
#50	1336.01	1376.16
#100	1346.3	1384.28
#150	1359.63	1395.26
#175	1366.63	1401.71
#200	1374.66	1409.17

In [48]:
##WE CAN OBSERVE FROM ALPHA VALUE ABOVE 150 TRAINING ERROR IS INCREASED AND TEST ERROR ALSO INCREASED
#this leads to a contradiction that training error should be improved and test error should be decreased
#hence we need to choose alpha value is 150.